src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="apix-salesforce-sapi-main">
        <http:listener config-ref="${api.listenerConfig}" path="/api/*" allowedMethods="GET" doc:name="GET /api">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="apiRouter" />
    </flow>
    <flow name="apix-salesforce-sapi-console">
        <http:listener config-ref="${api.listenerConfig}" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="apiRouter" />
    </flow>
    <flow name="get:\accounts:apiRouter">
        <flow-ref doc:name="query-all-accounts-flow" doc:id="93f9fce2-7232-46bd-9401-0febb62ba5d9" name="query-all-accounts-flow" />
    </flow>
    <flow name="get:\accounts\(accountid):apiRouter">
        <set-variable value="#[attributes.uriParams.'accountid']" doc:name="Accountid" doc:id="ec086cfd-d4aa-49a4-b2fc-37d43ab1b729" variableName="accountid" />
        <flow-ref doc:name="query-account-by-id-flow" doc:id="7e863dba-cebf-4d06-92fb-03fb2dbcc424" name="query-account-by-id-flow" />
    </flow>
</mule>
